.input {
  padding: 10px 30px;
  width: 300px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

.container {
  margin-top: 30px;
  position: relative;
}

.form {
  display: flex;
  justify-content: center;
}

.btnLoad:hover {
  background-color: #ff2600c9;
  transform: scale(1.05);
}

.noMoviesText {
  margin-top: 40px;
  text-align: center;
}

.load {
  text-align: center;
}

.btnLoad {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: gray;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.btnScroll {
  position: fixed;
  z-index: 1000;
  background-color: black;
  padding: 20px 22px;
  border-radius: 50%;
  border: none;
  opacity: 0.5;
  right: 30px;
  bottom: 20px;
}

.btnScroll:hover {
  transform: scale(1.05);
  opacity: 1;
}

.btnArrow {
  height: 20px;
  width: 20px;
  color: red;
}
